#document {
    background-image: url('background1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    /*position: absolute;*/
    z-index: 1111;
  /*  width: 500px;
    background-size: 100%;
    padding: 35px 20px;
    background-repeat: no-repeat;
    background-position-y: top;
    border-radius: 4px;
    !*width: 595px;*!
    position: absolute;
    z-index: 1111;*/
}
body {
    height: 100vh !important;
}
.m150 {
    margin-top: 150px;
}

.table {
    margin-top: 15px;
    font-size: 16px;
}

.row {
    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.row {
    display: flex;
}
.cell {
    float: left;
    width: 50%;

}

.space {
    padding-top: 15rem;
    display: block;
}

.cell:nth-child(2) {
    font-weight: bold;
}


.summary {
    margin-top: 7rem;
}

.summary p {
    width: 60%;
    margin-left: auto;
}

.summary .qr {
    width: 20%;
    margin-left: auto;
    margin-right: 35px;
}

.application_image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;

}

.application_image img {
    width: 50%;
}

.black_title {
    text-align: center;
    font-size: 18px;
    width: 70%;
    font-weight: bold;
    margin: auto;
}

.m150 {
    margin-top: 150px;
}

.footer {
    margin-top: 20px;

}

.footer span {
    font-weight: bold;
}